/******************************************************************************
 * paragraph style
******************************************************************************/

/* make line spacing a bit wider, is easier to read */
/* * { line-height: 140%; }	line spacing is already set by alabaster.css */

/* adjust space between bullet points */
li { margin-bottom: 1ex; }

/* adjust space above first bullet points */
li:first-of-type { margin-top: 1ex; }

/* try to control page break in EPUB */
h1, h2	{ page-break-inside: avoid; page-break-after: avoid; }
h1	{ page-break-before: always; }
h2	{ page-break-before: auto; }

/* break paragraphs only if the fragments contain at least 3 lines */
body { widows: 3; orphans: 3; }


/******************************************************************************
 * figures
******************************************************************************/

/* write figure caption in italics, and make it narrower than the main text */
figure figcaption p, div.figure p.caption { font-style: italic; margin: 1em 2em 0 2em; text-align: left; }

/* write figure number in bold */
figure figcaption .caption-number, div.figure p.caption .caption-number { font-weight: bold; }

/* put a colon after figure number */
figure figcaption .caption-number::after, div.figure p.caption .caption-number::after { content: ": "; margin-left: -0.4ch; }


/******************************************************************************
 * links and cross-references
******************************************************************************/

/* write links in the text (internal and external) in italics ... */
section .reference, .section .reference { font-style: italic; }

/* ... but not in glossary terms, links to figures etc.; exclude captions which are italic */
section > p .reference .std, section li .reference .std, .section p:not(.caption) .reference .std, .section li .reference .std { font-style: initial; }

