
/******************************************************************************
 * EPUB specific rules
******************************************************************************/

/* make line spacing a bit wider, is easier to read */
* { line-height: 140%; }

/* make headlines left-aligned (instead of justified = inherited from body) */
h1, h2 { text-align: left; }

/* no need to print the link URL next to the link */
span.link-target { display: none; }

/* glossary terms: bold */
dt { font-weight: bold; }

/* images are shifted right in some readers (e.g. Google Play Books) */
figure .align-default { margin-left: 0; }

/* transparent images should have a white background */
img { background-color: white; }
