
/******************************************************************************
 * Sphinx/Alabaster/HTML specific settings
******************************************************************************/

/* large screens start at 876px, see alabaster.css */
@media (min-width: 876px) {

	/* make sidebar a bit wider: 300px instead of 220px */
	div.sphinxsidebar {
		max-height: 100%;
		overflow-y: auto;
		width: 300px;
	}

	div.document {
		width: 1020px;	/* increase also by 80px, like sidebar */
	}

	div.bodywrapper {
		margin: 0 0 0 300px;	/* set left margin to new sidebar width */
	}
}

@media (max-width: 875px) {

	/* fix white margin in mobile view (Alabaster) */
	div.sphinxsidebar {
		width: initial;
	}

	/* fix itemize shifted to the left (Alabaster) */
	ul {
		margin-left: 30px;
	}
}

/* remove horizontal line when hovering over image */
a.image-reference:hover { border-bottom: none; }


