<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Cover</title>
</head>

<body style="width: 100%; height: 100%; margin: 0; padding: 0;">
	<img alt="Titelbild" src="_static/Titelbild_Velomobil_Walchensee_P1056440_Laksaman_{{ language }}-1.jpg" style="margin: 0; position: absolute; width: 100%; height: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);" />
</body>
</html>


